body{
    font-size: 16px;
    cursor: url(../img/cursor.png)
}
.header{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
}
li{
    list-style: none;
}
.nav-book  li{
    display: inline;
    color: white;
    background-image: url(../img/nav.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

  .charlotte-menu li {
